Apriori Algorithm for market basket analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
X=pd.read_csv("Market_Basket_optimisation.csv",header=None)

In [16]:
 X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
X.shape

(7501, 20)

In [6]:
t=[]
for i in range(0,X.shape[0]):
 t.append([str(X.values[i,j]) for j in range(0,20)])

print(t[0])

['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil']

In [7]:
!pip install apyori
from apyori import apriori

Requirement already satisfied: apyori in d:\persnol_documents\tools\temp\lib\site-packages (1.1.2)

In [37]:
r = apriori(t,min_support=0.007,min_confidence=0.2,min_lift=3,min_length=2)
result=list(r)

In [38]:
result=pd.DataFrame(result)

In [39]:
result.head(5)

,items,support,ordered_statistics
0,"(herb & pepper, ground beef)",0.015998,"[((herb & pepper), (ground beef), 0.3234501347..."
1,"(whole wheat pasta, olive oil)",0.007999,"[((whole wheat pasta), (olive oil), 0.27149321..."
2,"(frozen vegetables, spaghetti, ground beef)",0.008666,"[((frozen vegetables, spaghetti), (ground beef..."
3,"(shrimp, mineral water, frozen vegetables)",0.007199,"[((shrimp, mineral water), (frozen vegetables)..."
4,"(nan, herb & pepper, ground beef)",0.015998,"[((herb & pepper), (nan, ground beef), 0.32345..."

In [40]:
result.head(10)['ordered_statistics'][0]

[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2919938411349285)]

In [41]:
result.head(10)['ordered_statistics'][1]

[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.122410097642296)]

In [42]:
result['ordered_statistics'][5]

[OrderedStatistic(items_base=frozenset({'spaghetti', 'milk'}), items_add=frozenset({'olive oil'}), confidence=0.20300751879699247, lift=3.0825089038385434)]

In [43]:
r